/* This is for searchmiui */
/* .search {
  padding: 14px 20px;
  width: 502px;
  height: 100%;
  .textField {
    width: 485px;
    margin-top: -20px;
    padding: 4px;
  }
} */

/* This search is for normal search jsx */
.search {
  padding: 14px 20px;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
  height: 100%;
}
.textField {
  width: 485px;
  margin-top: -20px;
  padding: 4px;
}
/* up to here */
.wrapper {
  display: flex;
  align-items: center;
  height: 53px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  height: 100%;
}
